* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}
nav::before {
  content: "";
  background: url("./background.jpg") no-repeat center center/cover;
  position: absolute;
  opacity: 0.3;
  top: 0px;
  left: 2.5vw;
  width: 95vw;
  height: 100vh;
  z-index: -1;
}
nav {
  background-color: #15a005;
  display: flex;
  border-bottom: 2px solid black;
  justify-content: flex-start;
}
a {
  text-decoration: none;
  margin-left: 20px;
  margin-right: auto;
}
a:active {
  box-shadow: 3px 2px #2f3f4f;
}
a:hover {
  text-shadow: 2px 2px #2f3f4f;
}
a {
  color: #2f3f4f;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
#container {
  align-items: center;
  text-align: center;
}
.title {
  text-align: center;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  border: 2px solid #2f3f4f;
  border-radius: 10px;
  width: 500px;
  height: fit-content;
  display: inline-block;
  padding: 10px;
  color: #ffffff;
  background-color: #fcfffc9a;
}
.detail {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;

  color: black;
}
.form input {
  margin-bottom: 10px;
  border: inset #aef0b3;
}

.body {
  font-family: sans-serif;
  font-size: 25px;
  border: 2px solid #2f3f4f;
  border-radius: 10px;
  width: 65%px;
  height: fit-content;
  display: inline-block;
  padding: 10px;
  color: black;
  background-color: #fcfffc9a;
  text-align: center;
}
.bodycontainer {
  text-align: center;
  padding: 10px;
}
#sub:active {
  box-shadow: 3px 2px #2f3f4f;
}
label {
  position: relative;
  top: 1vh;
  left: 30vw;
}
input[type="search"] {
  width: 300px;
  border-radius: 30px;
  height: 25px;
  text-align: center;
}
button {
  width: 5vw;
  border-radius: 30px;
  font-family: serif;
  text-align: center;
  font-weight: bold;
}
button:active {
  box-shadow: 2px 1px black;
}
